const env = 'dev';

let tokenUrl, host, port;
if (process.env.NODE_ENV == 'production') {
	tokenUrl = 'https://production.websocket/wsToken';
    apiHost = 'https://production.websocket';
	host = 'production.websocket';
	port = '443';
} else {
	tokenUrl = 'http://localhost/wsToken';
    apiHost = 'http://localhost';
	host = '192.168.0.100';
	port = '8090';
}

const recaptchaSiteKey = '6LfbKEUpAAAAAGaAdYGmhmBxpWcq735wj-aKy7fq';

export { host, port, tokenUrl, env, apiHost, recaptchaSiteKey }
